<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">>
    <title>Register</title>
</head>

<body class="bg-gray-100" > 
    <div id="formy">
    <div class="invalid">   
        {% for mesg in get_flashed_messages() %}
                <h1>{{mesg}}
      {% endfor %}
    </div>

    <div>
        <form method="POST" action="" class="px-4 my-32 max-w-3xl mx-auto space-y-6">
            {{ form.hidden_tag() }}
            <p class="text-3xl font-semibold">Join Today</p>
        <div class="flex space-x-4">
            <div class="w-1/2">
                {{ form.username.label(class="font-semibold") }}
                {{ form.username(class="border border-gray-400 block py-2 px-4 w-full rounded focus:outline-none focus:border-purple-500") }}
            </div>
            <div class="w-1/2">
                {{ form.email.label(class="font-semibold") }}
                {{ form.email(class="border border-gray-400 block py-2 px-4 w-full rounded  focus:outline-none focus:border-purple-500 placeholder-gray-400") }}
            </div>
        </div>
            <div>
                {{ form.password.label(class="font-semibold") }}
                {{ form.password(class="border border-gray-400 block py-2 px-4 w-full rounded  focus:outline-none focus:border-purple-500 ") }}
            </div>
            <div class="">
                {{ form.confirm_password.label(class="font-semibold") }}
                {{ form.confirm_password(class="border border-gray-400 block py-2 px-4 w-full rounded focus:outline-none focus:border-purple-500 ") }}
            </div>  
            <div >
                {{ form.submit(class="border border-gray-400 block py-2 px-4 w-full rounded focus:outline-none focus:border-purple-500 ") }}
            </div>
        </form>
    </div>
    <div>
        <div class="px-4 my-32 max-w-3xl mx-auto space-y-6">
            Already have an account? 
            <a href="{{url_for('login')}}"><button class="text-blue-700 rounded-full">Click Here!</button></a>
        </div>
    </div>
</div>
</body>
</html>