.workoutListing {
    margin: 50px;
    padding: 10px;
    border-radius: 25px;
}

.selected {
    background-color: aquamarine;
}

.name {
    font-family: monospace;
    font-size: xx-large;
    float: inline-start;
}

.type {
    display: block;
    font-family: monospace;
}

.equipment {
    display: inline-block;
    font-family: monospace;

}

.difficulty {
    float: inline-end;
    font-size: xx-large;
}

.instructions {
    font-family: monospace;
    margin: auto;
}