<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved</title>
</head>
<style>
    body {
    background-color: #FFFFFF;
    background-image: linear-gradient(90deg, #FFFFFF -40%, #816de4 50%, hsl(204, 63%, 55%) 100%);
    }
    #something{
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    }
</style>
    
{% for i in data.List%}
    <div id="something">{{ i.name }}</div>
    <br>
{% endfor %}


<script src="savedJs.js"></script>

</body>

</html>